main {
  display: grid;
  grid-template-columns: repeat(32, 20px);
  grid-template-rows: 20px;
  gap: 1px;
}

app-cell {
  border: 1px solid whitesmoke;
  height: 20px;
}

.newgame {
  margin: 0 10px 10px 0;
}
