<h2 style="color: red;" *ngIf="crashed">Crashed to a wall, Game Over!</h2>
<h2>Score: {{ score }}</h2>
<button class="newgame" nbButton outline status="danger" (click)="newGame()">Start New Game</button>
<button class="newgame" nbButton outline status="success" *ngIf="paused && !crashed"
  (click)="startMoving()">Resume</button>
<button class="newgame" nbButton outline status="warning" *ngIf="!paused && !crashed"
  (click)="pauseGame()">Pause</button>
<main>
  <app-cell [ngStyle]="{'background-color': item.color }" *ngFor="let item of squares; let i = index"></app-cell>
</main>
