$boardWidth: var(--board-width);
$cellWidth: var(--cell-width);

main {
  display: grid;
  grid-template-columns: repeat($boardWidth, calc(#{$cellWidth}));
  grid-template-rows: calc(#{$cellWidth});
  gap: 1px;
}

app-cell {
  border: 1px solid whitesmoke;
  height: calc(#{$cellWidth});
}

.newgame {
  margin: 0 10px 10px 0;
}
